@import '../../styles/variaveis.scss';

.nome-e-filtro{
    display: flex;
    flex-direction: column;
}

.nome-e-filtro>h1{
    color: $amarelo-claro;
    font-size: 1.8rem;
    text-decoration: underline;
}

.lista-de-cafes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 10dvh auto;
}

.box-do-cafe{
    width: 250px;
    height: 350px;
    background-color: $preto-01;
    border: 3px solid $marrom;
    overflow: hidden;
}

.box-do-cafe>img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    filter: contrast(80%);
}

.informacoes{
    text-align: center;
    padding: 0 10px;
}

.informacoes>h2{
    color: $amarelo-queimado;
    font-size: 1.5rem;
    font-weight: 600;
}

.informacoes>h3{
    color: $amarelo-claro;
    font-size: 1.3rem;
    margin: 2dvh auto;
}

.informacoes>p{
    color: $amarelo-claro;
    margin-top: 2dvh auto;
}